
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E7E7E7;
    padding: 24px 24px;

}

.contentFooter{
    display: flex;
    text-align: center;
    margin-bottom: 24px;
}
.contentFooter section{
    width: 50%;
}
.contentContactcolumn1justify{
    text-align:justify;

}

.contentContactcolumn2right{
    text-align:right;
}