
.whiteSection{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    Margin: 48px 24px 24px 24px;
}



.productos{
    padding: 0px 0px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
}
.productos img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease; /* Transición suave */
}
.productos img:hover {
    transform: scale(1.05);
}

.productos div{
    width: 250px;
    height: 400px;
}

.productos h4{

    min-height: 3rem ;
}

.productos h1,

.productos h3,
.productos p,
.productos button {
    margin-bottom: 1rem;

}


/* personalizacion paginador */
.pagination{    
    --bs-pagination-active-border-color:none;
    --bs-pagination-color:#4FA5EB;
    --bs-pagination-hover-color:#007FE5;
    --bs-pagination-border-radius:30px;
    --bs-pagination-font-size:1rem;
    --bs-pagination-padding-x:1rem;
    --bs-pagination-padding-y:0.5rem;
    --bs-pagination-focus-box-shadow:none;
    --bs-pagination-focus-bg:#E9ECEF;
}


.greenSection{
    background-color: #FAFAE7;
    padding: 80px 24px;
    margin: 24px 0px;
}

.GridContacto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    text-align: left;
}


.GridContactExperiencia1{
    grid-row: 1/2 ;
    grid-column:1/2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    background-color: #A92C88;
    padding: 24px;
    text-align: center;
}

.GridContactExperiencia1 img{
    width: 2rem;
    margin: 1rem;
}


.GridContactExperiencia2{
    grid-row: 1/2 ;
    grid-column:2/3;
    background-image: url("../assets/housevape2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}


.GridContactWorld{
    grid-row: 2/3 ;
    grid-column:1/2;
    background-image: url("../assets/world22.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:24px;
}
.GridContactFormada{
    grid-row: 2/3 ;
    grid-column:2/3;
    background-color: #C7c7c7;
    padding:24px;
    text-align: justify;
}

.ContactBlueSection{
    text-align: center;
    background-color: #85BECC;
    padding: 24px;
    display: flex;
    width: 100%;
    margin: 24px;
}
.ContactBlueSection article{
    width: 25%;
    padding: 0px 24px;
}
.ContactBlueSection h2,
.ContactBlueSection p{
    color: #ffffff;
}


.Tienda{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.bloquefiltro{
    width:250px;
    text-align: justify;
    padding-bottom: 1rem;
}


/* personalizacion acordeon */

.accordion{
    --bs-accordion-btn-bg:#ffffff;
    --bs-accordion-btn-color:#ffffff;
    --bs-accordion-active-bg:#ffffff;
    --bs-accordion-active-color:#ffffff;
    --bs-accordion-btn-focus-box-shadow:none;
}
.accordion-body{
    text-align: justify;
}
