
.whiteSection{
    background-color: $colorBlanco;
    @include flex(column,nowrap,center,center);
    text-align: center;
    Margin: 48px 24px 24px 24px;
    h1, h2{
        font-size: 2.8125rem;
        color: map-get($colortexto,color3);
    }
}

.productos{
    padding: 0px 0px 0px 100px;
    @include flex(row,wrap,flex-start,center);
    width: 100%;
    div{
        width: 250px;
        height: 400px;
        img{
            width: 200px;
            height: 200px;
            object-fit: contain;
            transition: transform 0.3s ease; /* Transición suave */
            &:hover{
                transform: scale(1.05);
            }
        }
        h4{
            min-height: 3rem ;}
        h1,
        h3,
        p,
        button {
            margin-bottom: 1rem;
        }
    }
}

.greenSection{
    background-color: $colorcomp1;
    padding: 80px 24px;
    margin: 24px 0px;
    h2 {
        color:map-get($colortexto,color7)
    }
}

.GridContacto{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    text-align: left;
}


.GridContactExperiencia1{
    grid-row: 1/2 ;
    grid-column:1/2;
    @include flex(row,nowrap,space-between,center);
    background-color: $colorcomp2;
    padding: 24px;
    text-align: center;
    h2{
        color:map-get($colortexto,color1)
    }
}

.GridContactExperiencia1 img{
    width: 2rem;
    margin: 1rem;
}


.GridContactExperiencia2{
    grid-row: 1/2 ;
    grid-column:2/3;
    background-image: url("../assets/housevape2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.GridContactWorld{
    grid-row: 2/3 ;
    grid-column:1/2;
    background-image: url("../assets/world22.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    @include flex(column,nowrap,center,center);
    padding:24px;
    h2{
        color:map-get($colortexto,color1)
    }
}
.GridContactFormada{
    grid-row: 2/3 ;
    grid-column:2/3;
    background-color: $colorcomp4;
    padding:24px;
    text-align: justify;
    h2{
        color:map-get($colortexto,color6);
        text-align: center;
    }
    p{
        color:map-get($colortexto,color6);
        font-weight: 400;
    }
}

.ContactBlueSection{
    text-align: center;
    background-color: $colorcomp6;
    padding: 24px;
    display: flex;
    width: 100%;
    margin: 24px;
    article{
        width: 25%;
        padding: 0px 24px;
    }
        h2,p{
            color: map-get($colortexto,color1);
        }
}

.Tienda{
    @include flex(row,nowrap,center,start);
    width: 100%;
}
.bloquefiltro{
    width:250px;
    text-align: justify;
    padding-bottom: 1rem;
}

.divflex{
    @include flex(row,nowrap,space-between,center);
}

/* personalizacion acordeon */

.accordion{
    --bs-accordion-btn-bg:#ffffff;
    --bs-accordion-btn-color:#ffffff;
    --bs-accordion-active-bg:#ffffff;
    --bs-accordion-active-color:#ffffff;
    --bs-accordion-btn-focus-box-shadow:none;
}
.accordion-body{
    text-align: justify;
}

/* pagina contacto */

input {
    background-color: $colorcomp5; /* Color de fondo por defecto */
    border: none;
    outline: none;
    font-family: "Barlow";
    padding: 10px;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    &:focus{
        background-color: $colorBlanco /* Color de fondo por defecto */
    }
}

textarea {
    background-color: $colorcomp5;
    border: none transparent;
    outline: none;
    font-family:"Barlow";
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
    &:focus{
        background-color: $colorBlanco;
    border: none transparent;
    outline: none;
    }
}

.inputWhite {
    background-color: $colorBlanco;
    border: none;
    border-radius: 1.875rem 0rem 0rem 1.875rem;
    padding: 10px 10px;
}

.submitSuscripcion[type="submit"] //boton enviar para suscripcion
{
    background-color: $colorB1;
    color: $colorBlanco;
    border-radius: 0rem 1.875rem 1.875rem 0rem;
    padding: 0px 30px 0px 20px;
}

.bloquecontacto{
    width: 1fr;
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0px;
    justify-content: center;
    article{
        width: 45%;
    margin: 24px;
    text-align: justify;
    }
}

.formcontacto{
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr)(1, 60px) ;
    column-gap: 24px;
    text-align: left;
    div input[type="text"],
    div input[type="email"],
    div input[type="tel"]
    {
        width: 100%;
        height: 80px;
        padding: 10px;
        margin: 8px 0px;
        border: 1px solid $colorcomp7;
    }
    div textarea
    {
        width: 100%;
        padding: 10px;
        margin: 8px 0px;
        border: 1px solid $colorcomp7;
    }
    input[type="submit"]
    {
        width: 100%;
        height: 60px;
        margin-top: 16px;
        justify-self: center;
    }
}

.section1{
    grid-row: 1/2 ;
    grid-column:1/2;
}
.section2{
    grid-row: 1/2 ;
    grid-column:2/3;
}
.section3{
    grid-row: 2/3 ;
    grid-column:1/2;
}
.section4{
    grid-row: 2/3 ;
    grid-column:2/3;
}
.formmensaje{
    grid-row: 3/4 ;
    grid-column:1/3;
}

.formenviar{
    grid-row: 4/5 ;
    grid-column:1/3;
}

.formsuscripcion{
    width: 100%;
    display: flex;
    flex-direction: column;
    div{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 16px 0px;
        input[type="email"]
        {
            padding: 0px 50px;
            width: 30%;
            height: 60px;
        }
        input[type="submit"]
        {
            width: 80px;
            height: 60px;
        }
    }
    label
    {
        font-size: 1.5rem;
        font-family: "Barlow";
        font-weight: 300;
        color: $colornegro;
    }
}

.blueSection{
    text-align: center;
    background-color: $colorcomp6;
    padding: 24px 24px;
    margin: 16px 24px;
    h2{
        color:$colorBlanco;
    }
    p{
        padding: 24px 0px;
    }
}

/* pagina Terminos y Condiciones */

.BloqueTerminos{
    width:95%;
    @include flex(column,nowrap,flex-start,justify);
    text-align: justify;
    p,
    h4,
    ul{
        list-style-position: inside;
        padding: 16px;
        li{
            padding-left: 16px;
            list-style:disc;
        }
    }
}
