// @mixin flex{
//     display: flex;
//     flex-direction:row;
//     flex-wrap: nowrap;
//     justify-content: center
// }
@mixin flex($direction,$wrap,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align
}