//Perfil colores

$colorBlanco:#ffffff;
$colornegro:#000000;

$colorcomp1:#FAFAE7;
$colorcomp2:#A92C88;
$colorcomp3:#E7E7E7;
$colorcomp4:#C7c7c7;
$colorcomp5:#d9d9d9;
$colorcomp6:#85BECC;
$colorcomp7:#cccccc;

$colorA1:#8B8CD6;
$colorA2:#5254C3;

$colorB1:#4FA5EB;
$colorB2:#007FE5;

