.botonVioleta {
    background-color:$colorA1;
    color:$colorBlanco;
    font-family: "Barlow";
    font-size: 1.5rem;
    padding: 15px 30px;
    margin-top: 0.5rem;
    border:3px solid $colorA1;
    border-radius:3rem;
    cursor: pointer;
    transition: transform 0.3s ease; 
    &:hover{
        background-color:$colorA2;
    border:3px solid $colorA2;
    transform: scale(1.01);
    }
    &:active{
        color:$colorA2;
    background-color:$colorBlanco;
    border:3px solid $colorA2;
    border-radius: 3rem;
    }
}


.botonComprar {
    color:$colorB1;
    background-color:$colorBlanco;
    font-family: "Barlow";
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 2px solid $colorB1;
    border-radius: 3rem;
    cursor: pointer;
    &:hover{
        color:$colorB2;
        border:2px solid $colorB2;
        border-radius: 3rem;
    }
    &:active{
        color:$colorBlanco;
        background-color:$colorB2;
        border:2px solid $colorB2;
        border-radius: 3rem;
    }
}


.botonCargarMas {
    width: 100%;
    background-color:$colorB1;
    color:$colorBlanco;
    font-family: "Barlow";
    font-size: 1rem;
    font-weight: 300;
    border:3px solid $colorB1;
    border-radius:3rem;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: transform 0.3s ease;
    &:hover{
        background-color:$colorB2;
        border:3px solid $colorB2;
        transform: scale(1.01);
    }
    &:active{
        color:$colorB2;
        background-color:$colorBlanco;
        border:3px solid $colorB2;
    }
}