/* personalizacion paginador */
.pagination{    
    --bs-pagination-active-border-color:none;
    --bs-pagination-color:#4FA5EB;
    --bs-pagination-hover-color:#007FE5;
    --bs-pagination-border-radius:30px;
    --bs-pagination-font-size:1rem;
    --bs-pagination-padding-x:1rem;
    --bs-pagination-padding-y:0.5rem;
    --bs-pagination-focus-box-shadow:none;
    --bs-pagination-focus-bg:#E9ECEF;
}