
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1{
    font-family: "Oswald";
    font-weight: 500;
  }
  
  h2{
    color: map-get($colortexto,color3);
    font-family: "Oswald";
    font-weight: 500;
    font-size: 2rem;
  }
  
  .Title{
    font-size: 2.8125rem;
    color: map-get($colortexto,color3);
  }
  
  h3{
    color:map-get($colortexto,color5);
    font-family: "Barlow";
  }
  
  h4{
    color:map-get($colortexto,color3);
    font-size: 1.2rem;
    font-family: "Barlow";
    font-weight: 300;
  }
  
  .h4{
    color:map-get($colortexto,color3);
    font-size: 1.2rem;
    font-family: "Barlow";
    font-weight: 300;
    text-decoration: none
  }
  
  .clickeable:hover{
    font-weight: 400;
  }
  
  h5{
    color:map-get($colortexto,color4);
    font-family: "Barlow";
    font-size: medium;
    font-weight: 600;
  }
  h6{
    color:map-get($colortexto,color4);
    font-family: "Barlow";
    font-size: medium;
    font-weight: 300;
  }
  
  
  p{
    font-family: "Barlow";
    font-weight: 300;
    color:map-get($colortexto,color4);
  }
  
  .lighter{
    color:map-get($colortexto,color5);
    font-family: "Barlow";
    font-weight: 400;
  }
  
  .bold{
    font-weight: bold;
  }
